<aside class="card">
  <img src="/images/<%= icon %> " alt="Imagem de Dinheiro">
  <p>
    <%= textCard %> 
  </p>
  <div class="button-group">
    <button 
      class="button green" 
      form="form-job" 
      type="submit" 
      title="Salvar Dados">Salvar</button>
    <a 
      href="/" 
      class="button gray">
      <img 
        src="/images/trash-24.svg" 
        alt="Cancelar cadastro" 
        title="Cancelar cadastro">
    </a>
  </div>
</aside>