<footer class="page-footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/martinsgabriel99/" target="_blank" title="Meu Instagram">
        <img  class="img-footer" src="/images/instagram.png">
    </a>
    <a href="https://github.com/martinsgabriel1956" title="Meu Github" target="_blank">
        <img class="img-footer" src="/images/github.svg">
    </a>
    <a href="https://www.youtube.com/channel/UCSfwM5u0Kce6Cce8_S72olg" target="_blank">
        <img  class="img-footer" src="/images/youtube.png">
    </a>
    <a href="https://rocketseat.com.br/" target="_blank">
        <img  class="img-footer" src="/images/rocket.png">
    </a>
  </div>
</footer>