<div class="modal-wrapper">
  <div class="modal">
    <img src="/images/trash-48.svg" alt="Excluir Job" title="Excluir Job" />
    <h3>Excluir Job</h3>
    <p>
      Quer mesmo excluir esse job? <br />
      Ele será apagado para sempre.
    </p>
    <footer>
      <a class="button gray" href="#">Cancelar</a>
      <button class="button red" type="submit" form="delete-job">
        Excluir Job
      </button>
    </footer>
  </div>
  <form method="post" action="/job/delete/<%= id %> " id="delete-job"></form>
</div>