.page-header {
  background: var(--color-primary);
  width: 100vw;
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.page-header.inner {
  height: 5.5rem;
  margin-bottom: 4rem;
}

.page-header.inner .container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.page-header.inner h1 {
  margin: 0 auto;

  font-family: Inter;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.625rem;

  color: var(--color-header-inner-title);
}

.toggle {
  position: relative;
}

input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

.switch-theme {
  cursor: pointer;
  text-indent: -9999px;
  top: 0px;
  width: 48px;
  height: 24px;
  background: grey;
  float: right;
  border-radius: 100px;
  position: relative;
}

.switch-theme::after{
  content: '';
  position: absolute;
  top: 3px;
  left: 3px;
  width: 18px;
  height: 18px;
  background-color: white;
  border-radius: 90px;
  transition: 0.3s;
}

input:checked + .switch-theme {
  background-color: #6944b9;
}

input:checked + .switch-theme::after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
}

.dash-switch {
  top: -68px; 
  left: -128px;
}